<!DOCTYPE html>
<head>
    <style>
        .beatiful {
            background-color: rgb(218, 56, 56); /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }    

        .upbox {
            text-align: center;
            padding-top: 260px;
        }
    </style>
</head>
<body>
<div class="upbox">
    <h1>Upload Document Image</h1>
    <input type="file" name="image" id="uploadFile" style="display:none;">
    <input type="hidden" name="img">
    <button type="button" class="beatiful" id="uploadBtn">上传图片</button>  
    <div><img src="" class="img-show"></div>
</div>
</body>


<script src="/static/jquery-3.4.1.min.js"></script>
<script>
    $('#uploadBtn').click(function() {
        $('#uploadFile').click()
        //当图片选中后，会触发name=file文本的change事件
        $('#uploadFile').change(function() {
            var formData = new FormData()
            formData.append('image', this.files[0])
            if(formData) {
                $.ajax({
                    url: '/predict/',
                    type: 'POST',
                    data: formData,
                    async: true,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(res) {
                        if(res.status == 0) {
                            alert(res.msg)
                            return false    
                        }
                        res = JSON.parse(res)
                        if(res) {
                            window.location.href='/decode/' + res.decode;
                        }
                    }
                })
            }
        })
    })
</script>
</html>